svg .nodeGroup a:hover {
   text-decoration: none;
}

.nodeGroup {

}

.node {
    stroke: white;
    stroke-width: 3px;
}

.attribute .node {
    fill: #699CCA;
}

.attribute:hover text {
    cursor: default;
    text-decoration: none;
}

.resource .node {
    fill: #4BB249;
    /* stroke: #FFF; */
    /* stroke-width: 7px; */
    transition: transform .2s ease;
}

.root .node {
    fill: #999;
}

.resource:hover .node {
    cursor: pointer;
    transform: scale(1.05);
}

.nodeLabel {
    font-size: 15px;
    font-family: monospace;
    font-weigh: bolder;
    stroke: white;
    stroke-width: 1px;
    fill: white;
}

.linkLabel {
    stroke: white;
    stroke-opacity: .5;
    stroke-width: 0.3px;
    fill: black;
}

.linkLabelShadow {
    stroke: white;
    stroke-opacity: .8;
    stroke-width: 5px;
    fill: white;
    cursor: default;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 3px;;
  transition: all .4s ease;
}

.linkGroup:hover .linkLabel {
    text-decoration: underline;
    cursor: default;
}

.linkGroup:hover .link {
    stroke: #4BB249;
    stroke-width: 4px;
    stroke-opacity: 1;
}

.overlay {
  fill: none;
  pointer-events: all;
}
