svg.rdfgraph {
}

svg.rdfgraph .nodeGroup a:hover {
   text-decoration: none;
}

.rdfgraph .nodeGroup {

}

.rdfgraph .node {

}

.rdfgraph .attribute .node {

}

.rdfgraph .attribute:hover text {
    cursor: default;
    text-decoration: none;
}

.rdfgraph .resource .node {
    transition: transform .2s ease;
}

.rdfgraph .root .node {
    fill: #999;
}

.rdfgraph .resource:hover .node {
    cursor: pointer;
    transform: scale(1.05);
}

.rdfgraph .nodeLabel {
    font-size: 15px;
    font-family: monospace;
    font-weigh: bolder;
}

.rdfgraph .linkLabel {

}

.rdfgraph .linkLabelShadow {
    cursor: default;
}

.rdfgraph .link {
  transition: all .4s ease;
}

.rdfgraph .linkGroup:hover .linkLabel {
    text-decoration: underline;
    cursor: default;
}

.rdfgraph .linkGroup:hover .link {
    stroke: #4BB249;
    stroke-width: 4px;
    stroke-opacity: 1;
}

.rdfgraph .overlay {
  fill: none;
  pointer-events: all;
  cursor: move;
}

#graphContainer {
    position: relative;
    height: 600px;
    border: 3px solid grey;
    border-radius: 3px;
    margin-top: 10px;
}


#graphDownload {
    position: absolute;
    top: 10px;
    right: 20px;
}
